version: '3.9'

services:
  web:
    build: .
    command: python /code/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code  
    ports:
      - 8000:8000

    env_file:
      - .env 
      
    environment:
      - DEBUG=True
      - "DJANGO_SECRET_KEY=${DOCKER_COMPOSE_DJANGO_SECRET_KEY}"
      - "DATABASE_NAME=${DATABASE_NAME}"
      - "DATABASE_USER=${DATABASE_USER}"
      - "DATABASE_PASSWORD=${DATABASE_PASSWORD}"
      - "DATABASE_HOST=${DATABASE_HOST}"
      - "DATABASE_PORT=${DATABASE_PORT}"
    depends_on:
      - db

  db:
    image: postgres:14
    environment:
      POSTGRES_USER: hossein
      POSTGRES_PASSWORD: MYPASSWORD
      POSTGRES_DB: hospital

    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: